* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  font-family: 'Abril Fatface';
}

div.background_image {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
}

div.background_image img {
  width: 110%;
  margin-top: -10%;
  margin-left: -7%;
}

div.bar {
  height: 60px;
  width: 100%;
  background-color: grey;
  border-bottom: 2px solid red;
  position: fixed;
  z-index: 1000;
}

div.nav_background {
  height: 90px;
  background-color: black;
  position: fixed;
  width: 100%;
  opacity: 0.4;
  margin-top: 62px;
}

nav {
  height: 90px;
  position: fixed;
  width: 100%;
  opacity: 0.7;
  margin-top: 62px;
  z-index: 1000;
}

div.slogan {
  height: 100%;
  width: 25%;
  overflow: hidden;
  position: relative;
  padding: 1%;
  display: inline-block;
}

div.slogan_top {
  overflow: hidden;
}

div.slogan_top img {
  width: 125%;
  margin-left: -2%;
}

div.block {
  position: absolute;
  height: 57%;
  width: 45%;
  background-color: black;
  right: 0;
  top: 0;
}

div.slogan_bottom {
  overflow: hidden;
  margin-top: -2%;
}

div.slogan_bottom img {
  width: 125%;
  margin-left: -56.5%;
}

div.nav_items {
  width: 70%;
  height: 100%;
  display: inline-block;
  position: absolute;
  right: 0;
  padding: 2% 5% 2% 2%;
  text-align: right;
}

div.nav_items p {
  display: inline;
  margin: 2%;
}

div.hair {
  position: fixed;
  width: 40%;
  height: 45%;
  bottom: 0;
  right: 0;
  overflow: hidden;
  opacity: 0.7;
}

div.hair img {
  left: 0;
  width: 150%;
}

div.reservations_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

div#reservations {
  width: 100%;
  height: 50%;
  margin-top: 50%;
  position: absolute;
}

div.reservations {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 270px;
  margin: 21% auto;
  text-align: center;
  opacity: 0.7;
}

div.reservation_background {
  position: absolute;
  width: 100%;
  height: 270px;
  margin: 18% auto;
  background-color: black;
  top: 0;
  opacity: 0.7;
}

div.hours {
  width: 22%;
  margin: 0 auto 4%;
  text-align: left;
}

div.contact_wrapper {
  width: 100%;
  height: 100%;
  margin-top: 100%;
  position: absolute;
}

div#contact {
  width: 100%;
  height: 50%;
  margin-top: 50%;
  position: absolute;
}

div.contact {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 270px;
  margin: 21% auto;
  text-align: center;
  opacity: 0.7;
}

div.contact_background {
  position: absolute;
  width: 100%;
  height: 270px;
  margin: 18% auto;
  background-color: black;
  top: 0;
  opacity: 0.7;
}
