* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #0D1313;
}

div#slogan {
  width: 100%;
  position: absolute;
}


/* BROWSER */
@media (min-width: 768px ) {

  div.menu_button {
    display: none;
  }

  div.top_side_border {
    margin: 4%;
    border: 8px solid white;
    border-bottom: 0px;
    opacity: 0.4;
    position: absolute;
    width: 92%;
    height: 82%;
  }

  img.slogan {
    width: 20%;
    position: absolute;
    margin: 7% 5%;
    opacity: 0.9;
  }

  nav {
    position: absolute;
    bottom: 15%;
    right: 6%;
    display: inline;
    text-align: right;
  }

  div.bottom_left_border {
    height: 8px;
    background-color: white;
    width: 32%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  div.bottom_right_border {
    height: 8px;
    background-color: white;
    width: 32%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  div.dolly {
    width: 32%;
    position: absolute;
    left: 33%;
    right: auto;
    bottom: -20%;
    height: 50%;
  }

  div.dolly img {
    width: 100%;
    opacity: 0.4;
    transition: all 2s ease;
    position: absolute;
  }

  div.dolly img:hover {
    margin-top: -24%;
    margin-left: 3%;
  }

  nav h1 {
    position: relative;
    opacity: 0.4;
  }

  nav h1:hover {
    opacity: 1;
  }

  div.image_cache {
    display: none;
  }

  div#info {
    margin-bottom: 15%;
    position: relative;
    width: 100%;
    transition: all 2s ease;
  }

  div.logo {
    width: 100%;
    height: 100px;
    overflow: hidden;
  }

  div.logo img {
    margin: 0 -7.5% -16%;
    width: 65%;
    opacity: 0.6;
  }

  div#info p {
    line-height: 1.5;
    margin-bottom: 7%;
    font-size: 0.85em;
  }

  div#page_wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 2s ease;
    background-image: url(images/DollysBackground1.jpg);
    background-size: 85%;
    background-position: 55% 55%,
                         top;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  div#reservations_wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 100%;
    transition: all 2s ease;
  }

  div.bookenda {
    margin: 15% auto;
  }

  div#bookenda_script_tag_mvcbooker_1col {
    color: red;
    margin-left: auto;
    margin-right: auto;
  }

  button#ypdine_1col_btnFind {
    color: white;
    background-color: red;
    border: red;
  }

  #ypdine_1col_lstPersonCount,
  #ypdine_1col_txtDateDisplay,
  #ypdine_1col_lstTime {
    color: red;
  }

}

/* MOBILE */
@media (max-width: 767px ) {

  div.top_side_border,
  div.bottom_left_border,
  div.bottom_right_border,
  div.logo {
    display: none;
  }

  div#page_wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 2s ease;
    background-image: url(images/DollysBackground1.jpg);
    background-size: 170%;
    background-position: 35% -5%,
                         top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  div#slogan {
    height: 10%;
    margin: 10% auto auto 10%;
  }

  div#menu_button {
    width: 12%;
    height: 60%;
    position: relative;
    display: inline-block;
  }

  div#menu_button div {
    width: 100%;
    height: 15%;
    margin-bottom: 14%;
    background-color: white;
    border-radius: 100px;
  }

  img.slogan {
    width: 30%;
    position: relative;
    margin: 0 3%;
  }

  div.dolly {
    width: 90%;
    position: absolute;
    bottom: -45%;
    left: 5%;
    transition: all 2s ease;
  }

  div.dolly img {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    transition: all 2s ease;
  }

  nav {
    position: absolute;
    display: none;
    text-align: left;
    bottom: 12%;
    left: 4%;
    transition: all 2s ease;
  }

  nav h1 {
    position: relative;
    opacity: 0.4;
  }

  nav h1:hover {
    opacity: 1;
  }

  div#reservations_wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 200%;
    transition: all 2s ease;
  }

  div.bookenda {
    margin: auto;
  }

  div#bookenda_script_tag_mvcbooker_1col {
    color: red;
  }

  button#ypdine_1col_btnFind {
    color: white;
    background-color: red;
    border: red;
  }

  #ypdine_1col_lstPersonCount,
  #ypdine_1col_txtDateDisplay,
  #ypdine_1col_lstTime {
    color: red;
  }

  div#info {
    margin-bottom: 15%;
    position: relative;
    width: 100%;
    transition: all 2s ease;
  }

  div.image_cache {
    display: none;
  }

  div#info p {
    line-height: 1.5;
    margin-bottom: 7%;
    font-size: 0.85em;
  }

}
